<br>
<br>
<h4>An application to get common statistics (recent tweets, common friends) given the twitter handle. <br>Developed to get familiar with Twitter REST APIs, Perl Dancer and Web-Application development in general.</h4>
<em>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Rajaganesh Ganesh</em>
